body {
    background-color: black;
    font-family: Arial, Verdana, sans-serif;
    color: white;
}

header {
    background-image: url('../img/LupinHeroG.png');
    background-repeat: no-repeat;
    background-position: right;
    padding-bottom: 25em;
}

header img {
    display: block;
    width: 480px;
}

section h1,
h2,
h3,
a {
    color: darkgrey;
    display: inline;
}

ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

ul li {
    width: 32%;
    padding: .5em;
}